/* CSS BY Shereef Younis */


/* MEDIA QUERY (medium) */
@media screen and (min-width: 640px){
    body {
        color: #5D3FD3;
        text-align: center;
    }

    nav ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        list-style-type: none;
    }

    nav a {
        text-decoration: none;
        color: #5D3FD3;
    }
} 
